* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* important -> makes page work? */
html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px;
}

/* ________Top of Page__________ */
/* go in order as your page does */

nav {
    /* when you use Pos. Fixed it removes defeault properties so add width
    : 100% back in */
    position: fixed;
    height: 80px;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-color: #fff;
    z-index: 99;
    display: flex;
    /* z index is to ensure that all browsers will load nav properly and not in background
    only works with Position*/
}

.logo-nav {
    width: auto;
    height: 80%;
    display: flex;
    vertical-align: middle;
    margin-left: 70px;
    margin-top: 3px;
}

#navBtn {
    background-color: #e56717;
    border-radius: 22px;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 14px 22px;
    transition-duration: 0.8s;
}

    #navBtn:hover {
        color: white;
        background-color: #20b8cc;
        border-radius: 4px;
    }

#instaIcon {
    width: auto;
    height: 30px;
}
#gmailIcon {
    width: auto;
    height: 30px;
}


    nav a {
        color: #e56717;
        text-align: center;
        padding: 14px, 16px;
        text-decoration: none;
        font-size: 20px;
        margin: auto;
    }
    /* alternate way to modifyNAV (esp. with logos) @min 26ish */

    nav.navigation-bar a:hover {
        color: #20b8cc;
    }

    section {
        /* goes clockwise (top right bottom left) */
        padding: 80px;
        /* this might be an issue later..  (padding would work like it is but not
        like padding: 80,20,20,20; idk why */
    }

.allClass {
    /* this min-height fix will stop your content from overlapping and going
    into the other pages, it will also adjust to browser size.  */
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* attachment fixed does cool scroll effect */
    
}

.hero {
    background-color: #20b8cc;
    font-size: 30px;
}

#homeHead1 {
    color: white;
    justify-content: center;
    font-size: 34px;
    display: flex;
}

#homeHead2 {
    color: rgb(231, 231, 231);
    justify-content: center;
    display: flex;
    font-size: 24px;
}

.vceskills {
    display: flex;
    justify-content: center;
}

.vceskills img {
    padding: 20px;
    width: 1200px;
    height: auto;
}

#homeBtn {
    background-color: #e56717;
    border-radius: 22px;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    left: 800px;
    top: 750px;
    position: absolute;
    transition-duration: 0.5s;
}

#homeBtn:hover {
    color: #e56717;
    background-color: white;
}



    .subSection {
        height: 25%;
    }

    .subSection-top {
        background-color: #20b8cc;
        height: 15%;
        display: flex;
        justify-content: center;
    }

        .subSection-top, h3 {
            color: white;
            font-size: 22px;
            font-weight: lighter;
        }

    .subSection-bottom {
        background-color: #20b8cc;
    }

.about {
    background-image: url(../img/vlady_leaning_circles.jpg);
    /* useful but not necessary */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}

.about-content {
    color: black;
    text-align: left;
    columns: 50px 1;
}

.about h2 {
    position: absolute;
    top: 1220px;
    left: 150px;
}
.about-p {
    font-size: 26px;
    position: absolute;
    top: 1270px;
    left: 150px;
    width: 480px;
    height: 350px;
    word-spacing: 3px;
    line-height: 35px;
}


.work {
        background-image: url(../img/bottom_dots.jpg);
        display: flex;
        align-items: center;
        justify-content: space-around;
}

#kcpaLogo {
    max-width: 100%;
    height: 80px;
    left: 0px;
    right: 0px;

    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
}

#kcpaLogo:hover {
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
}
    /* works box 1 */
    .works {
        height: 100px;
        width: auto;
        background-color: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 10px;
    }

        .works h1 {
            margin: 10px 0px 10px 0px;
        }

.footer {
    justify-content: center;
    display: flex;
    color: #ffff;
    background-color: #20b8cc;
}


.contactBackground {
    background-image: url("../img/bottom_dots_blue.jpg");
    height: 450px;
    width: 100%;
    background-position: center;
    opacity: 0.9;
    background-size: cover;
}

.contactSection {
    margin: 0;
    text-align: center;
    background: transparent;
}

.contact-title {
    color: #e56717 ;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}

.contact-title h1 {
    font-size: 32px;
    padding-top: 20px;
}

    .contact-title h2 {
        font-size: 16px;
    }

form {
    transition: all 4s ease-in-out;
}

.form-control {
    width: 600px;
    background: transparent;

    border: none;
    outline: none;
    border-bottom: 1px solid #20b8cc;
    color: #20b8cc;
    font-size: 18px;
    margin-bottom: 16px;
}

input {
    height: 45px;
}

form.submit {
    background: #e56717 ;
}


::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background:  #e56717;
    /* background: #20b8cc; */
    /* background: linear-gradient( #06dee1, #fff, #e56717); */
    border-radius: 6px;
}